<h1>{{name}}</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>
  <td>Edad:</td>
  <dd>{{age}}</dd>
  <td>Metodo:</td>
  <dd>{{getHeroDescription()}}</dd>
  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>
</dl>
<button
  *ngIf="enableEditButtons"
  class="btn btn-primary mx-2"
  (click)="setHeroName('Spiderman')">
  Cambiar Nombre
</button>
<button
  *ngIf="enableEditButtons"
  class="btn btn-primary mx-2"
  (click)="setHeroAge(18)">
  Cambiar Edad
</button>

<button
  class="btn btn-primary mx-2"
  (click)="enableEdit()">
  Habilitar Edición
</button>
